In [1]:
import pandas as pd

df = pd.read_parquet("transactions.parquet")
print(df.head())

   TRANSACTION_ID         TX_DATETIME  CUSTOMER_ID  TERMINAL_ID  TX_AMOUNT  \
0               0 2024-04-01 00:01:59         3305       7154.0      49.32
1               1 2024-04-01 00:03:26         4751          NaN     122.49
2               2 2024-04-01 00:03:27         4172          NaN      10.06
3               3 2024-04-01 00:06:20         4459          NaN     117.22
4               4 2024-04-01 00:06:33           95       1901.0     108.38

   MERCHANT_ID  IS_ONLINE  TX_FRAUD  TX_FRAUD_SCENARIO  \
0        738.0      False         0                  0
1        407.0       True         0                  0
2        421.0       True         0                  0
3        889.0       True         0                  0
4        496.0      False         0                  0

   CUSTOMER_IS_COMPROMISED  MERCHANT_IS_COMPROMISED  TERMINAL_IS_COMPROMISED  \
0                    False                    False                    False
1                    False                    False                    False
2                    False                    False                    False
3                    False                    False                    False
4                    False                    False                    False

   TERMINAL_X  TERMINAL_Y TX_TIME_SECONDS TX_TIME_DAYS
0    65.86222   45.538406            None         None
1         NaN         NaN            None         None
2         NaN         NaN            None         None
3         NaN         NaN            None         None
4    77.18023   65.808298            None         None